<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <input type="text" v-model="input">
    <input type="radio" value="man" name="sex" v-model="checked"> man
    <input type="radio" value="woman" name="sex" v-model="checked"> woman
    <br/>
    ------------
    <br/>
    <select v-model="select">
        <option value="1">1</option>
        <option value="11">11</option>
        <option value="111">111</option>
    </select>
    <hr/>
    {{checked}}
    {{select}}
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    let app = new Vue({
        el: "#app",
        data: {
            input: "input value",
            select: "1",
            checked: 'man'
        },
        methods: {
            say: function (item) {
                alert(item.message)
            }
        }
        // 数据绑定radio是和value值绑定的，value值一样的会被选中
        // 数据绑定checkbox 是和value值绑定的，value值一样的会被选中
        //
    })
</script>
</body>
</html>